@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

/* スマホサイト用スクリーンはじまり */
@media screen and (max-width:960px) {

    /* 画像の設定 */
    h1{
        margin:20px auto 0;
        width: 166px;
        height: 34px;
    }

    h1 a{
        width: 166px;
        height: 34px;
        display: block;
        background-image: url(https://ict.ac.jp/animeanime-denshi.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    /* ハンバーガーメニュー */

    .hamburger{
        width: 42px;
        height: 42px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index:3;
    }

    .hamburger span{
        width: 30px;
        height: 2px;
        background-color: #bbb;
        position:absolute;
        left: 6px;
        transition: 1s;
    }

    .hamburger span:nth-child(1){
        /* １番目のspnタグ */
        top: 10px;
    }

    .hamburger span:nth-child(2){
        /* ２番目のspnタグ */
        top: 20px;
    }

    .hamburger span:nth-child(3){
        /* ３番目のspnタグ */
        top: 30px;
    }

    .hamburger.active span:nth-child(1){
        background-color: #bbb;
        transform: rotate(-45deg);
        top: 20px;
        left: 5px;
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3){
        background-color: #bbb;
        transform: rotate(45deg);
        top: 20px;
        left: 5px;
    }

    /* グローバルメニュー */

    nav.globalMenuSp{
        width:100%;
        background-color: #fff;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 2;
        transform:translateX(-100%);
        transition: 1s;
    }

    nav.globalMenuSp.active{
        display: block;
        transform: translateX(0%);
    }

    nav.globalMenuSp ul {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    nav.globalMenuSp ul li{
        padding: 0;
        width: 100%;
        height: 3em;
        line-height: 3em;
        border-bottom: 1px solid #7a7a7a;
    }

    nav.globalMenuSp ul li a{
        padding-left: 10px;
        text-decoration: none;
        color: #7a7a7a;
        transition: 0.5s;
    }

    nav.globalMenuSp ul li a:hover{
        padding-left: 20px;
        transition: 0.5s;
    }

    nav.globalMenuSp ul li.menu_tag{
        background-color: #0693e3;
        color: #fff;
        text-align: center;
    }

    /* スマホサイト用スクリーンおわり */
}

/* PCサイト用スクリーンはじまり */
@media screen and (min-width:961px) {
    
    /* メニュー横一列 */
    header{
        width: 100%;
        display: flex;
    }

    /* 画像の設定 */
    h1{
        margin-left: 20px;
        margin-top: 20px;
        width: 400px;
        height: 80px;
    }

    h1 a{
        width: 400px;
        height: 80px;
        display: block;
        background-image: url(https://ict.ac.jp/animeanime-denshi.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    /* グローバルメニュー */

    nav{
        width: 70%;
        /* 文字列 縦中央の設定 */
        display: flex;
        /* 文字列 横一列の設定 */
        justify-content: flex-end;
    }

    nav ul{
        display: flex;
        list-style: none;
    }

    nav ul li{
        font-size: 14px;
        height: 116px;
        line-height: 116px;
    }

    nav ul li a{
        color:#7a7a7a;
        text-decoration: none;
        display: inline-block;
        padding: 0px 12px;
        position: relative;
    }

    nav ul li a::after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #0693e3;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: .3s;
    }

    nav ul li a:hover::after{
        transform: scale(1, 1);
    }

    nav ul li.menu_tag{
        display: none;
    }

    /* PCサイト用スクリーンおわり */
}